DISCOGS_CONSUMER_KEY=JYFvwzOZfRdigVUkwDhC
DISCOGS_CONSUMER_SECRET=lTcJIZZvQmdcTxVvrrmKbFhgJtiyByIA
DISCOGS_USERNAME=physc
LETTERBOXD_USERNAME=physc
LASTFM_API_KEY=169c92d35d1cfbbc720b0bb50985c6cd
LASTFM_SHARED_SECRET=d93109bf2017e034d235dc8aa7330926